<p>
  invoice-list works!
</p>

<div class="row">
  <p-table #dt [columns]="selectedColumns" [(selection)]="selectedColumns" [columns]="cols" 
            [value]="invoices" selectionMode="multiple" [scrollable]="true" [ngClass]="'table'" 
            [paginator]="true" [rows]="10" sortMode="multiple" [loading]="loading" [lazy]="true" 
            (onLazyLoad)="loadInvoicesLazy($event)" [totalRecords]="totalRecords">
      <ng-template pTemplate="caption">
        <div class="row">
            <div class="col-sm" style="text-align:left">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
            </div>
            <div class="col-sm" style="text-align:right">
                <button type="button" class="btn btn-dark pi pi-refresh" label="Refresh" style="margin-right: 5px;" pTooltip="Refresh" tooltipPosition="bottom"></button>
                <button type="button" class="btn btn-dark pi pi-filter" label="Filter" style="margin-right: 5px;" pTooltip="Filter" tooltipPosition="bottom"></button>

                <button type="button" class="btn btn-dark pi pi-file" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="margin-right: 5px;" pTooltip="Download selected rows" tooltipPosition="bottom"></button>
                <button type="button" class="btn btn-dark pi pi-download" label="All Data" (click)="dt.exportCSV()" style="margin-right: 5px;" pTooltip="Download all rows" tooltipPosition="bottom"></button>

            </div>
        </div>
        <div style="text-align:left">
        </div>
        <div class="ui-helper-clearfix">
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
              <col *ngFor="let col of columns" style="width:180px">
          </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
              <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>